.presets-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  button {
    flex: 1 1 18%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(90deg, hsl(164, 100%, 50%) 0%, #b1ebdc 100%);
    color: rgb(254, 253, 253);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
    
      background: linear-gradient(90deg, hsl(164, 100%, 50%) 0%, #ace6d6 100%);
    }
  
    &:focus {
      outline: none;
    }
  }
  h3{
    color:rgb(255, 255, 255)
  }
  
  @media (max-width: 768px) {
    button {
      flex: 1 1 45%;
    }
  }
  
  @media (max-width: 480px) {
    button {
      flex: 1 1 90%;
    }
  }
  