div.add-task {
  margin: 0em 1em;
  background: linear-gradient(90deg, hsl(164, 100%, 50%) 0%, #ace6d6 100%);
  color: #060606;
  padding: 1em 1em;
  border-radius: 0.3em;
  font-family:  "noto sans display", 'Courier New', Courier, monospace;
  font-weight: 600;
  display: flex;
  align-items: center;
  span {
    margin-right: 0.5em;
  }
  &:hover{
    
    background: linear-gradient(90deg, hsl(164, 100%, 50%) 0%, #ace6d6 100%);
    cursor: pointer;
  }
  input.new-task{
    width: 100%;
    height: 24px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: rgb(10, 10, 10);
    font-family: 'noto sans display', 'Courier New', Courier, monospace;
    font-weight: 400;
  }
}
