div.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px max-content auto 100px;
  background-color: #0b2c29;
  height: 100vh;
  border-right: 1px solid rgba($color: #0d3b3b, $alpha: 0.1);
  overflow: hidden; /* Prevent scrolling */
}
div.grouped-tasks {
  border-bottom: 1px solid #fafafa;
}

