<div class="task" title="Tap to view details" (click)="showTaskDetails($event)" (contextmenu)="taskContextMenuFun($event)">
  <input #taskInput type="checkbox" class="done" (change)="taskDone($event)" [checked]="task.done" />
  <label for="">{{task.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{task.dueDate | date}}</label>
  <button (click)="toggleImportant()">{{ task.important ? '★' : '☆' }}</button>
</div>

<div class="task-contextmenu animate__animated animate__fadeInDown animate__faster" #taskContextMenu>
  <ul>
    <li (click)="menuTaskComplete()">
      <span *ngIf="task.done" class="material-symbols-outlined">radio_button_unchecked</span>
      <span *ngIf="!task.done" class="material-symbols-outlined">done</span>
      {{ task.done ? 'Mark as incomplete' : 'Mark as complete' }}
    </li>
    <li (click)="menuTaskImportant()">
      <span *ngIf="task.important" class="material-symbols-outlined">star_half</span>
      <span *ngIf="!task.important" class="material-symbols-outlined">star</span>
      {{ task.important ? 'Remove importance' : 'Mark as important' }}
    </li>
    <li class="delete" (click)="deleteTask()">
      <span class="material-symbols-outlined">delete</span>
      Delete task
    </li>
  </ul>
</div>

