div.task {
  margin: 0em 0em 1em 1em;  // Adjusted margin-bottom to 1em for more gap
  
  background: linear-gradient(90deg, hsl(164, 100%, 50%) 0%, #9de4d1 100%);
  color: #0b2121;
  padding: 1em 1em;
  width:98%;
  border-radius: 0.3em;
  font-family: 'noto sans display', Courier, monospace;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 35px auto 35px;
  border: 1px solid rgba($color: #00ffb9, $alpha: 0.1);
  &:hover {
    background-color: #00ffb9;
  }
  input[type="checkbox"].done {
    margin-right: 1em;
    &:checked ~ label {
      text-decoration: line-through;
      opacity: 0.4;
    }
  }
  label {
    align-content: center;
  }
}

div.task-contextmenu {
  display: none;
  font-family: 'noto sans display' ,'Courier New', Courier, monospace;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5em;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 2px solid rgba($color: #f0f5f5, $alpha: 0.1);
  background-color: #00ffb9;
  ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li.delete{
      color: indianred !important;
    }
    li{
      span{
        padding-right: 0.5em;
      }
      cursor: pointer;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0.5em 1em;
      color: rgb(9, 33, 31);
      &:hover {
        background-color: #0005059d;
        border-radius: 0.2em;
      }
    }
  }
}

input[type="checkbox"].done {
  /* Remove default checkbox appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Create a custom checkbox */
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

/* Style for checked checkbox */
input[type="checkbox"].done:checked {
  border-color: #001010;
  background-color: #000202;
  border: 2px solid #000c0c;
}

/* Style for checked checkbox after element (checkmark) */
input[type="checkbox"].done:checked::after {
  content: "\2714";
  font-size: 12px;
  color: #fff;
  position: relative;
  top: -1px;
  left: 3px;
}

input[type="checkbox"].important {
  /* Remove default checkbox appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
}

input[type="checkbox"].important::before {
  content: "\2606";
  font-size: 28px;
  color: white;
  position: relative;
  top: -10px;
}

/* Style for checked checkbox after element (checkmark) */
input[type="checkbox"].important:checked::before {
  content: "\2605";
  font-size: 28px;
  color: #7082cc;
  text-shadow: 0 0 1.7rem #91acff;
}

/* src/app/todo-panel/tasklist/task/task.component.scss */
.task-details {
  display: flex;
  flex-direction: column;
}

.task-name {
  font-size: 16px; /* Ensure font size is readable */
  color: #000b0b; /* Ensure color is set to something visible */
}

.task-date {
  font-size: 12px;
  color: #000000;
}
